<div class="login">
  <div class="title">SUNNER</div>
  <form
    action=""
    autocomplete="off"
    [formGroup]="miFormulario"
    (ngSubmit)="login()"
  >
    <!-- Username -->
    <div>
      <label for="">Usuario</label>
      <div class="input-body">
        <input
          type="text"
          placeholder="Nombre código del usuario"
          formControlName="username"
        />
      </div>
    </div>
    <!-- Password -->
    <div>
      <label for="">Contraseña</label>
      <div class="input-body">
        <input
          type="password"
          placeholder="Password código del usuario"
          formControlName="password"
        />
      </div>
    </div>
    <button type="submit" [disabled]="miFormulario.pending">INGRESAR</button>
    <div class="errors">
      <span *ngIf="campoNoValido('username')"
        >El usuario debe ser de mínimo 7 caracteres y solo números del 1 al
        9.</span
      >
      <span *ngIf="campoNoValido('password')"
        >La contraseña no puede tener menos de 7 caracteres.</span
      >
      <span *ngIf="usuarioInvalido">El usuario ingresado no existe.</span>
    </div>
  </form>
</div>
