<div class="cta">
  <div class="top-shade"></div>
  <div class="bottom-shade"></div>
  <div class="cta-header">
    <a href="/">
      <img
        src="./../../../../../assets/static/residencial-landing/sunner.webp"
        alt=""
        class="sunner-logo"
      />
    </a>
    <div class="links">
      <div class="link nosotros">
        <!-- NOSOTROS -->
      </div>
      <div class="link empresas">
        <!-- EMPRESAS -->
      </div>
      <a href="/bono-verde" class="link bono-mivivienda"
        ><span>BONO</span> MIVIVIENDA</a
      >
      <div class="link noticias">
        <!-- NOTICIAS -->
      </div>
    </div>
  </div>
  <div class="titulo">
    Reduce el monto de tu boleta de luz utilizando
    <span> paneles solares.</span>
  </div>
  <div class="subtitulo">
    Aprovecha la energía solar, en Sunner te enseñamos cómo.
  </div>
  <button class="btn-cta" [routerLink]="'./ahorra'">CALCULA TU AHORRO</button>
  <div class="data">
    <div class="elem">
      <div class="number">10,000<span>KG</span></div>
      <div class="description">De emisiones de carbono se ahorraron.</div>
    </div>
    <div class="elem">
      <div class="number">14K<span> USD</span></div>
      <div class="description">Fueron ahorrados en las familias peruanas.</div>
    </div>
    <div class="elem">
      <div class="number"><span>+</span>50</div>
      <div class="description">Árboles fueron no deforestados.</div>
    </div>
  </div>
</div>
