<div class="base">
  <div class="base-container">
    <div class="base-card">
      <div class="message">
        <b>¡Hola, {{ nombrePlanta }}!</b> <br />
        Así vas con Sunner:
      </div>
      <div class="card-container">
        <div class="item">
          Energía total: <br />
          <b>{{ energiaTotalConsumida | number : "1.2-2" }} KWH</b>
        </div>
        <div class="item">
          Ahorro monetario: <br />
          <b>S/ {{ ahorroMonetario | number : "1.2-2" }}</b>
        </div>
        <div class="item">
          Ahorro en emisiones: <br />
          <b>{{ ahorroEmisionesKG | number : "1.2-2" }} kg de CO2.</b>
        </div>
      </div>
    </div>
  </div>
  <button class="logout" (click)="logout()">logout</button>
  <div>
    <app-grafico-linear></app-grafico-linear>
  </div>
</div>
