.base {
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../../../assets/s1.png);
  background-size: cover;

  .base-container {
    color: black;

    display: flex;
    align-content: center;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    @media (min-width: 576px) {
      flex-direction: row;
    }
    .base-card {
      color: white;
      border: 1px solid white;

      width: 90vw;
      max-width: 500px;
      min-height: 400px;

      display:flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;

      padding: 20px;
      box-sizing: border-box;

      .message{
        font-size: 25px;
        text-align: start;
        margin-bottom: 20px;
      }

      .card-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        .item {
          width: 45%;
          text-align: start;
          font-size: 20px;
          margin-top: 20px;
        }
      }
    }
  }
  .logout{
    margin-top: 20px;

    height: 40px;
    width: 80vw;
    max-width: 280px;

    background-color: white;
    color: black;

    border : 0;
    border-radius: 8px;

    letter-spacing: 3px;

    &:hover {
      background-color: rgb(96, 96, 192);
      color: white;
    }
  }
}
