<div class="footer">
  <div class="footer-media">
    <img
      src="./../../../../../assets/static/residencial-landing/fb.png"
      alt=""
      class="footer-media_icon"
      (click)="openRRSS('facebook')"
    />
    <img
      src="./../../../../../assets/static/residencial-landing/ig.png"
      alt=""
      class="footer-media_icon"
      (click)="openRRSS('instagram')"
    />
    <img
      src="./../../../../../assets/static/residencial-landing/linked.png"
      alt=""
      class="footer-media_icon"
      (click)="openRRSS('linkedin')"
    />
    <img
      src="./../../../../../assets/static/residencial-landing/yt.png"
      alt=""
      class="footer-media_icon"
    />
  </div>
  <img
    src="./../../../../../assets/static/residencial-landing/sunner-amarillo-logo.png"
    alt=""
    class="footer-logo"
  />
</div>
