.footer {
  margin-top: 104px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #00346d;
  padding: 0 17px;
  box-sizing: border-box;
  @media (max-width: 1194px) {
    margin-top: 89px;
  }
  @media (max-width: 470px) {
    margin-top: 37px;
    padding: 0 8px;
  }
  .footer-media {
    display: flex;
    gap: 4.8px;
    .footer-media_icon {
      height: 26px;
      &:hover {
        cursor: pointer;
      }
      @media (max-width: 470px) {
        height: 13px;
      }
    }
  }
  .footer-logo {
    width: 223px;
    @media (max-width: 470px) {
      width: 69px;
    }
  }
}
