<div class="footer">
  <div class="footer-media">
    <img
      src="assets/static/main-landing/i-fb.png"
      alt=""
      class="footer-media_icon"
      (click)="openRRSS('facebook')"
    />
    <img
      src="assets/static/main-landing/i-ig.png"
      alt=""
      class="footer-media_icon"
      (click)="openRRSS('instagram')"
    />
    <img
      src="assets/static/main-landing/i-lin.png"
      alt=""
      class="footer-media_icon"
      (click)="openRRSS('linkedin')"
    />
    <img
      src="assets/static/main-landing/i-yt.png"
      alt=""
      class="footer-media_icon"
    />
  </div>
  <img
    src="assets/static/main-landing/sunner-logo-white.png"
    alt=""
    class="footer-logo"
  />
</div>
