.ofrecemos {
  background: linear-gradient(180deg, #eaeff5 69.76%, transparent);
  height: 1635px;
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #0f243f;
  @media (max-width: 1800px) {
    height: 1370px;
  }
  @media (max-width: 1200px) {
    height: 1200px;
  }
  @media (max-width: 800px) {
    height: 800px;
  }
  @media (max-width: 630px) {
    height: 650px;
  }
  @media (max-width: 535px) {
    height: 600px;
  }
  .equipo {
    background-image: url("./../../../../../assets/static/residencial-landing/equipo-residencial.webp");
    background-position: center center;
    background-size: cover;
    @media (max-width: 800px) {
      background-position: bottom center;
      background-size: contain;
      background-repeat: no-repeat;
    }
    position: absolute;
    z-index: -1;
    bottom: 0;

    width: 100%;
    height: 768px;
  }
  .degradado-foto {
    position: absolute;
    z-index: 0;
    bottom: 0;

    width: 100%;
    height: 768px;
    background: linear-gradient(180deg, #eaeff5 0%, transparent 30%);
    @media (max-width: 800px) {
      height: 468px;
      background: linear-gradient(180deg, #eaeff5 20%, transparent 50%);
    }
    @media (max-width: 535px) {
      background: linear-gradient(180deg, #eaeff5 50%, transparent 70%);
    }
  }
  .titulo {
    margin-top: 10vh;
    width: 1000px;
    text-align: center;
    position: relative;
    z-index: 2;
    font-weight: 300;
    font-size: 50px;
    span {
      font-weight: 600;
    }
    @media (max-width: 1800px) {
      font-size: 40px;
      width: 790px;
    }
    @media (max-width: 1200px) {
      font-size: 30px;
      width: 590px;
    }
    @media (max-width: 800px) {
      margin-top: 6vh;
      font-size: 20px;
      width: 390px;
    }
    @media (max-width: 630px) {
      font-size: 15px;
      width: 300px;
    }
  }
  .subtitulo {
    width: 1000px;

    position: relative;
    z-index: 2;
    color: #051d3b;
    font-size: 27px;
    font-weight: 300;
    margin-top: 2vh;
    text-align: center;
    @media (max-width: 1800px) {
      font-size: 20px;
      width: 830px;
    }
    @media (max-width: 1200px) {
      font-size: 17px;

      margin-top: 3vh;

      width: 590px;
    }
    @media (max-width: 800px) {
      margin-top: 2vh;
      font-size: 14px;
      width: 490px;
    }
    @media (max-width: 630px) {
      margin-top: 1vh;
      font-size: 9px;
      width: 330px;
    }
  }
  .especialistas {
    margin-top: 50px;
    z-index: 2;
    display: flex;
    gap: 160px;
    @media (max-width: 1200px) {
      gap: 108px;
    }
    @media (max-width: 630px) {
      gap: 38px;
    }
    .especialista {
      width: 278px;

      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width: 1200px) {
        width: 143px;
      }
      .especialista-foto {
        img {
          width: 250px;
          @media (max-width: 1200px) {
            width: 143px;
          }
          @media (max-width: 800px) {
            width: 100px;
          }
        }
      }
      .especialista-info {
        margin-top: 16px;
        letter-spacing: 0.05em;
        font-size: 20px;
        text-align: center;
        @media (max-width: 1200px) {
          font-size: 13px;
        }
        @media (max-width: 800px) {
          font-size: 11px;
        }
        .especialista-nombre {
          font-weight: 600;
          @media (max-width: 1200px) {
            font-size: 15px;
          }
          @media (max-width: 800px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
