<div class="ofrecemos">
  <div class="equipo"></div>
  <div class="degradado-foto"></div>
  <div class="titulo">
    Ofrecemos una instalación de la mano de
    <span> profesionales especializados en energía solar.</span>
  </div>
  <div class="subtitulo">
    Nuestros especialistas tienen años de experiencia en el sector de energía y
    están en constante capacitación teórica y práctica.
  </div>
  <div class="especialistas">
    <div class="especialista">
      <div class="especialista-foto">
        <img
          src="./../../../../../assets/static/residencial-landing/goncho.webp"
          alt=""
        />
      </div>
      <div class="especialista-info">
        <div class="especialista-nombre">Gonzalo Cabrera</div>
        <div class="especialista-carrera">Ingeniero Mecánico</div>
      </div>
    </div>
    <div class="especialista">
      <div class="especialista-foto">
        <img
          src="./../../../../../assets/static/residencial-landing/leyton.webp"
          alt=""
        />
      </div>
      <div class="especialista-info">
        <div class="especialista-nombre">Juan José Leyton</div>
        <div class="especialista-carrera">Ingeniero Mecánico</div>
      </div>
    </div>
  </div>
</div>
