<div class="destiny">
  <app-carousel
    [items]="items"
    [liwidth]="'2640px'"
    [liheight]="'592px'"
    [xStart]="xStart"
    [positionScroll]="'center'"
    [timerMS]="4000"
    [cgap]="'47px'"
    [coverflow]="'hidden'"
    class="destiny-carousel-desktop"
  ></app-carousel>
  <app-carousel
    [items]="items"
    [liwidth]="'100%'"
    [liheight]="'408px'"
    [xStart]="xStart"
    [positionScroll]="'center'"
    [timerMS]="4000"
    [cgap]="'47px'"
    [coverflow]="'hidden'"
    class="destiny-carousel-tablet"
  ></app-carousel>
  <app-carousel
    [items]="items"
    [liwidth]="'100%'"
    [liheight]="'280px'"
    [xStart]="xStart"
    [positionScroll]="'center'"
    [timerMS]="4000"
    [cgap]="'47px'"
    [coverflow]="'hidden'"
    class="destiny-carousel-mobile"
  ></app-carousel>
</div>
