<div class="save-energy-form">
  <div class="save-energy-form-container">
    <div class="save-energy-title_up">
      Ahorra utilizando energías renovables
    </div>
    <div class="save-energy-title_down">CON SUNNER</div>
    <form
      class="save-energy-form-body"
      [formGroup]="saveEnergyForm"
      (ngSubmit)="submitSaveEnergyForm()"
    >
      <div class="input-blocks">
        <label class="save-energy-input_from-block block_1">
          <div class="nombres">
            Nombre:<span
              [ngStyle]="{
                color: campoNoValido('nombres') ? '#f1480f' : '#ffbf4b'
              }"
            >
              *</span
            >
          </div>
          <input
            type="text"
            class="save-energy-input"
            formControlName="nombres"
          />
        </label>
        <label class="save-energy-input_from-block block_2">
          <div class="email">
            Correo Electrónico:<span
              [ngStyle]="{
                color: campoNoValido('email') ? '#f1480f' : '#ffbf4b'
              }"
            >
              *</span
            >
          </div>
          <input
            type="email"
            class="save-energy-input"
            formControlName="email"
          />
        </label>
      </div>
      <div class="input-blocks">
        <label class="save-energy-input_from-block block_3">
          <div class="celular">
            Celular:<span
              [ngStyle]="{
                color: campoNoValido('celular') ? '#f1480f' : '#ffbf4b'
              }"
            >
              *</span
            >
          </div>
          <input
            type="text"
            pattern="[0-9+-]*"
            maxlength="12"
            class="save-energy-input"
            formControlName="celular"
          />
        </label>
        <label class="save-energy-input_from-block block_4">
          <div class="tipoVivienda">
            Tipo de Vivienda:<span
              [ngStyle]="{
                color: campoNoValido('tipoVivienda') ? '#f1480f' : '#ffbf4b'
              }"
            >
              *</span
            >
          </div>
          <mat-form-field>
            <mat-label></mat-label>
            <mat-select formControlName="tipoVivienda">
              <mat-option value="casa">Casa</mat-option>
              <mat-option value="departamento">Departamento</mat-option>
            </mat-select>
          </mat-form-field>
        </label>
      </div>
      <div class="input-blocks">
        <label class="save-energy-input_from-block block_5">
          <div class="rangoPagoMensual">
            Rango de pago mensual promedio (S/):<span
              [ngStyle]="{
                color: campoNoValido('rangoPagoMensual') ? '#f1480f' : '#ffbf4b'
              }"
            >
              *</span
            >
          </div>
          <mat-form-field>
            <mat-label></mat-label>
            <mat-select formControlName="rangoPagoMensual">
              <mat-option value="0 - 250">0 a 250</mat-option>
              <mat-option value="250 - 650">250 a 650</mat-option>
              <mat-option value="650 - 1000">650 a 1000</mat-option>
              <mat-option value="1000 - 1350">1000 a 1350</mat-option>
              <mat-option value="1350 - 1700">1350 a 1700</mat-option>
              <mat-option value="1700+">1700+</mat-option>
            </mat-select>
          </mat-form-field>
        </label>
      </div>
      <div class="input-blocks">
        <div class="save-energy-input_from-checkbox">
          <input
            type="checkbox"
            name="acepta-info"
            id="acepta-info"
            formControlName="aceptaInfo"
          />
          <label for="acepta-info" class="save-energy-checkbox_label"
            >Acepto recibir información de SUNNER relacionada a sus
            servicios.</label
          >
        </div>
      </div>
      <div class="input-blocks">
        <button
          type="submit"
          class="save-energy-submit-button"
          [disabled]="saveEnergyForm.pending"
        >
          ENVIAR
        </button>
      </div>
    </form>
  </div>
</div>
