<div class="save-energy-form">
  <div class="save-energy-form-container">
    <div class="save-energy-title_up">
      Ahorra utilizando energías renovables
    </div>
    <div class="save-energy-title_down">CON SUNNER</div>
    <form class="save-energy-form-body">
      <div class="input-blocks">
        <label class="save-energy-input_from-block block_1">
          <div>Nombre:<span> *</span></div>
          <input type="text" class="save-energy-input" />
        </label>
        <label class="save-energy-input_from-block block_2">
          <div>Correo Electrónico:<span> *</span></div>
          <input type="email" class="save-energy-input" />
        </label>
      </div>
      <div class="input-blocks">
        <label class="save-energy-input_from-block block_3">
          <div>Celular:<span> *</span></div>
          <input type="text" class="save-energy-input" />
        </label>
        <label class="save-energy-input_from-block block_4">
          <div>Tipo de Vivienda:<span> *</span></div>
          <input type="text" class="save-energy-input" />
        </label>
      </div>
      <div class="input-blocks">
        <label class="save-energy-input_from-block block_5">
          <div>Rango de pago mensual promedio (S/):<span> *</span></div>
          <input type="text" class="save-energy-input" />
        </label>
      </div>
      <div class="input-blocks">
        <div class="save-energy-input_from-checkbox">
          <input type="checkbox" name="acepta-info" id="" />
          <label for="acepta-info" class="save-energy-checkbox_label"
            >Acepto recibir información de SUNNER relacionada a sus
            servicios.</label
          >
        </div>
      </div>
      <div class="input-blocks">
        <button type="submit" class="save-energy-submit-button">ENVIAR</button>
      </div>
    </form>
  </div>
</div>
