.save-energy-form {
  display: flex;
  justify-content: center;
  color: white;
  .save-energy-form-container {
    margin-top: 69px;

    width: 80.5%;
    max-width: 1016px;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1220px) {
      margin-top: 89px;
      max-width: 820px;
      width: 70%;
    }
    @media (max-width: 670px) {
      min-width: 310px;
      width: 74.19%;
    }
    .save-energy-title_up {
      font-weight: 500;
      font-size: 40px;
      line-height: 30px;
      text-align: center;

      -webkit-animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1)
        both;
      animation: fade-in-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;

      @media (max-width: 1220px) {
        font-size: 36px;
      }
      @media (max-width: 990px) {
        font-size: 24px;
      }
      @media (max-width: 670px) {
        font-size: 16px;
      }
    }
    .save-energy-title_down {
      font-weight: 600;
      font-size: 50px;
      line-height: 75px;

      -webkit-animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s
        both;
      animation: fade-in 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 0.4s both;

      @media (max-width: 1220px) {
        font-size: 40px;
      }
      @media (max-width: 670px) {
        font-size: 20px;
        line-height: 25px;
      }
    }
    .save-energy-form-body {
      margin-top: 47px;
      width: 100%;
      @media (max-width: 1220px) {
        margin-top: 19px;
      }
      @media (max-width: 670px) {
        margin-top: 19px;
      }
      .input-blocks {
        display: flex;
        justify-content: center;
        gap: 0 47px;
        width: 100%;
        @media (max-width: 670px) {
          flex-direction: column;
          align-items: center;
        }

        .block_1 {
          -webkit-animation: fade-in-left 0.6s linear 0.8s both;
          animation: fade-in-left 0.6s linear 0.8s both;
        }
        .block_2 {
          -webkit-animation: fade-in-left 0.6s linear 0.8s both;
          animation: fade-in-left 0.6s linear 0.8s both;
        }
        .block_3 {
          -webkit-animation: fade-in-left 0.6s linear 0.8s both;
          animation: fade-in-left 0.6s linear 0.8s both;
        }
        .block_4 {
          -webkit-animation: fade-in-left 0.6s linear 0.8s both;
          animation: fade-in-left 0.6s linear 0.8s both;
        }
        .block_5 {
          -webkit-animation: fade-in-left 0.6s linear 0.8s both;
          animation: fade-in-left 0.6s linear 0.8s both;
        }

        .save-energy-input_from-block {
          margin-top: 18px;
          width: 100%;
          font-size: 24px;
          @media (max-width: 1220px) {
            font-size: 16px;
          }
          @media (max-width: 670px) {
            margin-top: 6px;
          }
          span {
            color: #ffbf4b;
          }
          .save-energy-input {
            margin-top: 15px;

            width: 100%;
            height: 54px;
            border: 2px solid #ffbf4b;
            padding: 0px;
            box-sizing: border-box;

            padding-left: 16px;
            font-size: 27px;
            box-sizing: border-box;
            @media (max-width: 1220px) {
              margin-top: 8px;
              font-size: 19px;
              height: 47px;
            }
            @media (max-width: 670px) {
              height: 26px;
              font-size: 16px;
            }
          }
        }
        .save-energy-input_from-checkbox {
          margin-top: 24px;
          width: 100%;

          -webkit-animation: fade-in-top 0.8s
            cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s both;
          animation: fade-in-top 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 1.2s
            both;

          @media (max-width: 670px) {
            margin-top: 9px;
          }
          .save-energy-checkbox_label {
            margin-left: 10px;
            font-size: 13px;
            @media (max-width: 670px) {
              font-size: 10px;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .save-energy-submit-button {
          margin-top: 20px;

          width: 152px;
          height: 50px;
          background: #ffbf4b;

          color: #00346d;
          font-weight: 700;
          font-size: 24px;
          line-height: 36px;

          display: flex;
          justify-content: center;
          align-items: center;

          border: none;

          -webkit-animation: fade-in-top 0.8s
            cubic-bezier(0.39, 0.575, 0.565, 1) 1.8s both;
          animation: fade-in-top 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) 1.8s
            both;
          transition: 2s;
          &:hover {
            background-color: #f1480f;
            color: white;
            cursor: pointer;
          }
          @media (max-width: 1220px) {
            width: 120px;
            height: 40px;
            font-size: 20px;
          }
          @media (max-width: 670px) {
            width: 92px;
            height: 30px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

// fade-in-top

@-webkit-keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

// fade-in

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// fade-in-left

@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.no-valid-shake {
  -webkit-animation: shake-horizontal 0.5s linear both;
  animation: shake-horizontal 0.5s linear both;
}

@-webkit-keyframes shake-horizontal {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }

  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
