.faq {
  background-color: #1a3855;

  display: flex;
  justify-content: center;

  .faq-container {
    z-index: 3;
    width: 88.6%;
    max-width: 1276px;

    color: white;

    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    box-sizing: border-box;
    padding: 50px 0 50px;

    .dudas {
      .dudas-title {
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 10px;
        text-align: center;
        @media (max-width: 2000px) {
          font-size: 30px;
        }
        @media (max-width: 1200px) {
          font-size: 20px;
        }
        @media (max-width: 630px) {
          font-size: 16px;
        }
        @media (max-width: 535px) {
          font-size: 13px;
        }
      }
      .dudas-botones {
        display: flex;
        gap: 16px;
        .dudas-whatsapp {
          img {
            width: 76px;
            @media (max-width: 2000px) {
              width: 51px;
            }
            @media (max-width: 1200px) {
              width: 41px;
            }
            @media (max-width: 630px) {
              width: 28px;
            }
            @media (max-width: 535px) {
              width: 20px;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .dudas-escribenos {
          width: 537px;
          border: none;
          background: #ffbf4b;
          border-radius: 20px;
          text-align: center;
          letter-spacing: 0.08em;
          font-size: 26px;
          font-weight: 600;
          transition: 0.5s;
          @media (max-width: 2000px) {
            width: 486.98px;
            height: 69.08px;
            font-size: 22px;
          }
          @media (max-width: 1200px) {
            width: 286.98px;
            height: 49.08px;
            font-size: 14px;
          }
          @media (max-width: 630px) {
            width: 240px;
            height: 36px;
            font-size: 10px;
          }
          @media (max-width: 535px) {
            width: 200px;
            height: 26px;
            font-size: 8px;
          }
          &:hover {
            cursor: pointer;
            background-color: #ffffff;
            border: 2px solid black;
          }
        }
      }
    }
  }
}
