<div class="cta">
  <div class="top-shade"></div>
  <div class="cta-header">
    <a href="/">
      <img
        src="./../../../../../assets/static/residencial-landing/sunner.webp"
        alt=""
        class="sunner-logo"
      />
    </a>
    <div class="links">
      <div class="link nosotros">
        <!-- NOSOTROS -->
      </div>
      <div class="link empresas"></div>
      <div class="link noticias"></div>
    </div>
  </div>
  <div class="cta-body">
    <div class="cta_container">
      <div class="texto">
        <div class="titulo">
          Gracias por interesarte en las energías renovables.
        </div>
        <div class="subtitulo">¿Tienes dudas acerca de nuestro servicio?</div>
        <div class="whatsapp_btns ">
          <img
            src="./../../../../../assets/static/main-landing/whatsapp-blue.png"
            alt=""
            class="_submit"
            (click)="openWhatsapp()"
          />
          <button class="btn_whatsapp _submit" (click)="openWhatsapp()">COMUNÍCATE CON UN ASESOR</button>
        </div>
      </div>
    </div>
  </div>
</div>
