<div class="alborada">
  <div class="filtro-negro"></div>
  <div class="dialog-container">
    <div class="info-elem">
      <div class="elem-space"></div>
      <div class="elem-suptitle">Alborada I - <span>MG Villa</span></div>
    </div>
    <div class="info-elem">
      <div class="elem-space"></div>
      <div class="elem-description">4 kWp - 8 paneles solares</div>
    </div>
    <div class="info-elem">
      <div class="elem-icon">
        <img
          src="./../../../../../../assets/static/save-energy-landing/i-rayo.png"
          alt=""
        />
      </div>
      <div class="elem-title">Energía total:</div>
      <div class="elem-numbers">5400 kWh/año</div>
    </div>
    <div class="info-elem">
      <div class="elem-icon">
        <img
          src="./../../../../../../assets/static/save-energy-landing/i-solida.png"
          alt=""
        />
      </div>
      <div class="elem-title">Ahorro monetario:</div>
      <div class="elem-numbers">S/ 3880 anual</div>
    </div>
    <div class="info-elem">
      <div class="elem-icon">
        <img
          src="./../../../../../../assets/static/save-energy-landing/i-leaf.png"
          alt=""
        />
      </div>
      <div class="elem-title">Ahorro en emisiones:</div>
      <div class="elem-numbers">
        2377 kg de CO<span class="exponent">2</span>
      </div>
    </div>
  </div>
</div>
