<div class="welcome">
  <div class="welcome-container">
    <div class="welcome-title animate__animated animate__fadeInLeft">
      Somos tu aliade en la Transición Energética
    </div>
    <div class="welcome-subtitle animate__animated animate__fadeInLeft">
      Genera tu propia energía desde casa y ahorra utilizando energías
      renovables.
    </div>
    <div
      class="welcome-buttons animate__animated animate__fadeIn animate__delay-1s"
    >
      <div
        id="welcome-button"
        class="welcome-button animate__animated animate__pulse animate__slower animate__delay-2s"
        [routerLink]="'./ahorra'"
      >
        Calcula tu <br />
        ahorro
      </div>
      <!-- <div class="welcome-button">
        Visita <br />
        nuestro blog
      </div> -->
    </div>
  </div>
</div>
