<div class="why-sunner">
  <div class="why-sunner-container">
    <div class="why-sunner_title why-sunner-fade_titles">¿Por qué SUNNER?</div>
    <div class="why-sunner_subtitle why-sunner-fade_titles">
      Sunner asesora, diseña, instala y mantiene paneles solares en Perú. Sunner
      tiene una estrecha cercanía con el usuario en todo momento para diseñar
      una solución acorde a sus posibilidades económicas y de espacio, además de
      brindar flexibilidad de pagos.
    </div>
    <div class="why-sunner-items">
      <div class="why-sunner-item">
        <div class="why-sunner-item_1">
          <img
            src="assets/static/save-energy-landing/i-tuerca.png"
            alt=""
            class="i-tuerca"
          />
        </div>
        <div class="why-sunner-item_2">
          <img
            src="assets/static/save-energy-landing/i-rayo.png"
            alt=""
            class="i-rayo"
          />
        </div>
        <div class="why-sunner-item_3">INSTALACIÓN DE PANELES SOLARES</div>
      </div>
      <div class="why-sunner-item">
        <div class="why-sunner-item_1">
          <img
            src="assets/static/save-energy-landing/i-barras.png"
            alt=""
            class="i-barras"
          />
        </div>
        <div class="why-sunner-item_2">
          <img
            src="assets/static/save-energy-landing/i-leaf.png"
            alt=""
            class="i-leaf"
          />
        </div>
        <div class="why-sunner-item_3">MONITOREO DE ENERGÍA GENERADA</div>
      </div>
      <div class="why-sunner-item">
        <div class="why-sunner-item_1">
          <img
            src="assets/static/save-energy-landing/i-maleta.png"
            alt=""
            class="i-maleta"
          />
        </div>
        <div class="why-sunner-item_2">
          <img
            src="assets/static/save-energy-landing/i-solida.png"
            alt=""
            class="i-solida"
          />
        </div>
        <div class="why-sunner-item_3">PAGOS FLEXIBLES</div>
      </div>
      <div class="why-sunner-item">
        <div class="why-sunner-item_1">
          <img
            src="assets/static/save-energy-landing/i-cora-shake.png"
            alt=""
            class="i-cora-shake"
          />
        </div>
        <div class="why-sunner-item_2">
          <img
            src="assets/static/save-energy-landing/i-build.png"
            alt=""
            class="i-build"
          />
        </div>
        <div class="why-sunner-item_3">DISEÑO PERSONALIZADO</div>
      </div>
      <div class="why-sunner-item">
        <div class="why-sunner-item_1">
          <img
            src="assets/static/save-energy-landing/i-delivery.png"
            alt=""
            class="i-delivery"
          />
        </div>
        <div class="why-sunner-item_2"></div>
        <div class="why-sunner-item_3">MANTENIMIENTO DE SISTEMAS</div>
      </div>
      <div class="why-sunner-item">
        <div class="why-sunner-item_1">
          <img
            src="assets/static/save-energy-landing/i-audifo.png"
            alt=""
            class="i-audifo"
          />
        </div>
        <div class="why-sunner-item_2"></div>
        <div class="why-sunner-item_3">ASESORAMIENTO</div>
      </div>
    </div>
  </div>
</div>
