<div class="pasos">
  <div class="pasos-container">
    <div class="pasos-title"><span>Pasos</span> a seguir</div>
    <div class="pasos-body">
      <div class="elem-pasos">
        <div class="elem-title">Boleta de luz</div>
        <div class="elem-body">
          <img
            src="./../../../../../assets/static/residencial-landing/1.webp"
            class="elem-circle"
          />
        </div>
      </div>
      <div class="elem-pasos">
        <div class="elem-title">Cotización</div>
        <div class="elem-body">
          <img
            src="./../../../../../assets/static/residencial-landing/2.webp"
            class="elem-circle"
          />
        </div>
      </div>
      <div class="elem-pasos">
        <div class="elem-title">Visita Técnica</div>
        <div class="elem-body">
          <img
            src="./../../../../../assets/static/residencial-landing/3.webp"
            class="elem-circle"
          />
        </div>
      </div>
      <div class="elem-pasos">
        <div class="elem-title">Instalación</div>
        <div class="elem-body">
          <img
            src="./../../../../../assets/static/residencial-landing/4.webp"
            class="elem-circle"
          />
        </div>
      </div>
    </div>
    <div class="pasos-details">
      <div class="elem-paso-detail">
        <div class="detail-number">
          <img
            src="./../../../../../assets/static/residencial-landing/1w.webp"
            class="elem-circle"
          />
        </div>
        <div class="detail-body">
          <div class="detail-body-container">
            Usamos tu <span>boleta de luz</span> para calcular el sistema solar
            más eficiente para ti.
          </div>
        </div>
      </div>
      <div class="elem-paso-detail">
        <div class="detail-number">
          <img
            src="./../../../../../assets/static/residencial-landing/2.webp"
            class="elem-circle"
          />
        </div>
        <div class="detail-body">
          <div class="detail-body-container">
            Según tus datos, proyectaremos cuánto vas a <span>ahorrar</span> y
            en cuanto tiempo vas a <span>recuperar tu inversión.</span>
          </div>
        </div>
      </div>
      <div class="elem-paso-detail">
        <div class="detail-number">
          <img
            src="./../../../../../assets/static/residencial-landing/3w.webp"
            class="elem-circle"
          />
        </div>
        <div class="detail-body">
          <div class="detail-body-container">
            <span>Evaluaremos</span> el espacio de la instalación en una visita
            de 20 minutos para garantizar la
            <span>eficiencia de la energía generada</span>.
          </div>
        </div>
      </div>
      <div class="elem-paso-detail">
        <div class="detail-number">
          <img
            src="./../../../../../assets/static/residencial-landing/4.webp"
            class="elem-circle"
          />
        </div>
        <div class="detail-body">
          <div class="detail-body-container">
            Usamos tu boleta de luz para calcular el sistema solar más eficiente
            para ti.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
