// .test {
//   color: #0076ed7a;
//   color: #00b9f773;
//   color: #00e0dc7e;
//   color: #fda40043;
// }
.chart {
  width: 100%;
  // max-width: 637px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1190px) {
    margin-bottom: 150px;
  }
  @media (max-width: 500px) {
    margin-bottom: 0px;
  }
  .chart-container {
    width: 100%;
    max-width: 718px;
    padding: 20px;
    box-sizing: border-box;
    // height: 498px;
    border-radius: 32px;
    background-color: white;
    // @media (max-width: 630px) {
    //   height: 350px;
    // }
    // @media (max-width: 500px) {
    //   height: 270px;
    // }
  }
  .moment-selectors {
    display: flex;
    margin-top: 17px;
    > label {
      background-color: #ffbf4b;
      color: #00346d;
      width: 120px;
      height: 37px;
      font-size: 13px;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 500px) {
        width: 85px;
        height: 25px;
        font-size: 12px;
      }
      &:hover {
        cursor: pointer;
      }
    }
    > input[type="radio"] {
      display: none;
    }
    .selector-time {
      border-radius: 20px 0 0 20px;
    }
    // .selector-day {}
    // .selector-month {}
    .selector-year {
      border-radius: 0px 20px 20px 0px;
    }
  }
}
