<div class="dialog">
  <div
    class="ver-mas-dialog"
    mat-dialog-close
    [ngStyle]="{ 'background-image': 'url(' + data.proyecto.urlImagen + ')' }"
  >
    <div class="shadow"></div>
    <div class="dialog-container">
      <div class="info-elem">
        <div class="elem-space"></div>
        <div class="elem-suptitle">
          Proyecto <b>{{ data.proyecto.nombre }}</b>
        </div>
      </div>
      <div class="info-elem">
        <div class="elem-space"></div>
        <div class="elem-description">
          Nuestros especialistas tienen años de experiencia en el sector de
          energía y están en constante capacitación teórica y práctica.
        </div>
      </div>
      <div class="info-elem">
        <div class="elem-icon">
          <img
            src="./../../../../../../assets/static/save-energy-landing/i-rayo.png"
            alt=""
          />
        </div>
        <div class="elem-title">Energía total:</div>
        <div class="elem-numbers">{{ data.proyecto.energiaTotal }} kWh</div>
      </div>
      <div class="info-elem">
        <div class="elem-icon">
          <img
            src="./../../../../../../assets/static/save-energy-landing/i-solida.png"
            alt=""
          />
        </div>
        <div class="elem-title">Ahorro monetario:</div>
        <div class="elem-numbers">S/ {{ data.proyecto.ahorroMonetario }}</div>
      </div>
      <div class="info-elem">
        <div class="elem-icon">
          <img
            src="./../../../../../../assets/static/save-energy-landing/i-leaf.png"
            alt=""
          />
        </div>
        <div class="elem-title">Ahorro en emisiones:</div>
        <div class="elem-numbers">
          {{ data.proyecto.ahorroEmisiones }} kg de CO<span class="exponent"
            >2</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
