<div class="callus">
  <div class="callus-container">
    <div class="callus-title fadeInDown animate__animated animate__delay-1s">
      Comunícate con nosotros, estamos listos para resolver todas tus dudas
    </div>
    <div
      class="callus-buttons fadeIn animate__animated animate__delay-2s"
      (click)="openWhatsapp()"
    >
      <img
        src="assets/static/main-landing/whatsapp-blue.png"
        alt=""
        class="whatsapp-btn"
      />
      <div class="callus-btn">Escríbenos por Whatsapp</div>
    </div>
  </div>
</div>
